@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500;600;800&display=swap');

*,
*::before,
*::after {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body {
	display: flex;
	justify-content: center;
	padding: 150px;
	font-family: 'Montserrat', sans-serif;
	background-image: url('../images/mountain.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: 100%;
	color: white;
	font-weight: 100;
}

.container {
	text-align: center;
	border-radius: 25px;
	padding: 50px 70px;
	background-color: rgba(121, 150, 193, 0.4);
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}

h2 {
	font-size: 2rem;
	font-weight: 100;
}

form {
	display: flex;
	flex-direction: column;
}

input {
	margin: 20px 0;
	border: none;
	padding: 15px;
	border-radius: 25px;
}

input::placeholder {
	text-transform: uppercase;
	color: #94a8bd;
}

.city {
	color: #243141;
	font-size: 3rem;
	font-weight: 300;
	margin: 20px 0;
}

.temp {
	font-size: 9rem;
}

.button {
	background-color: #2f4066;
	color: white;
	border: none;
	padding: 15px;
	border-radius: 25px;
	text-transform: uppercase;
}

.button:hover {
	background-color: #202e4d;
	cursor: pointer;
}

input,
.button:focus {
	outline: none;
}
